<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Class-Fee | Über uns</title>
    <link rel="stylesheet" href="/style.css">

</head>

<a href="./feedback_form" class="fab-button" title="Feedback abgeben">+</a>

<body>

<div class="top-area">
    <!-- Seitenname als blaues Viereck -->
    <div class="brand-box">
        <a href="./index" class="brand-link">Class-Fee</a>
    </div>

    <!-- Login und Registrierung -->
    <div class="auth-buttons">
        <a href="./login" class="btn login-btn">Anmelden</a>
        <a href="./register" class="btn signin-btn">Registrieren</a>
    </div>
</div>

<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a href="./feedbacks">Alle Feedbacks</a></li>
            <li><a href="./module">Module</a></li>
            <li><a href="./semester">Semester</a></li>
            <li><a href="./about">Über uns</a></li>
        </ul>
    </nav>

    <main class="content">
        <h2>Über uns!</h2>

        <p><strong>Class-Fee</strong> ist eine studentische Webplattform, die im Rahmen des Moduls <strong>„Projekt A“</strong> an der HAW Hamburg entstanden ist. </p>
        <p>Der Fokus liegt auf dem Teilmodul <strong>„Angewandte Programmierung“</strong>.</p>
        <p>Unser Ziel ist es, Studierenden eine einfache Möglichkeit zu geben, strukturiertes und ehrliches Feedback zu Lehrveranstaltungen zu hinterlassen –
            entweder <strong>namentlich</strong> oder auf Wunsch vollständig <strong>anonym</strong>.</p>
        <p>Das Projekt wurde im Sommersemester 2025 im Rahmen des Studiengangs <strong>Bachelor Media Systems</strong> realisiert.</p>
        <p>Es stellt sowohl die technische Anwendung als auch die Umsetzung einer offenen Feedbackkultur in den Mittelpunkt.</p>

        <p><strong>Projektteam:</strong><br><br>
            • Nozimjon Isroilov<br>
            • Basir Massomi<br>
            • Jakob Ide</p>

        <p><a href="/">Zurück zur Startseite</a></p>
    </main>
</div>
<footer>
    <p>&copy; 2025 – HAW Hamburg</p>
</footer>
</body>
</html>
