<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Login | Class-Fee</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<main class="login">
    <h2>Login</h2>
    <form method="post" action="/login">
        <label for="email">E-Mail:</label>
        <input type="email" name="email" required>

        <label for="password">Passwort:</label>
        <input type="password" name="password" required>

        <button type="submit">Einloggen</button>
    </form>
    <p>Noch kein Konto? <a href="/register">Registrieren</a></p>
    <p><a href="/" class="button-startseite">Zurück zur Startseite</a></p>
</main>
</body>
</html>
