<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Class-Fee | Module</title>
    <link rel="stylesheet" href="/style.css">

</head>

<a href="./feedback_form" class="fab-button" title="Feedback abgeben">+</a>

<body>

<div class="top-area">
    <!-- Seitenname als blaues Viereck -->
    <div class="brand-box">
        <a href="/index" class="brand-link">Class-Fee</a>
    </div>

    <!-- Login und Registrierung -->
    <div class="auth-buttons">
        <a href="/login" class="btn login-btn">Anmelden</a>
        <a href="/register" class="btn signin-btn">Registrieren</a>
    </div>
</div>

<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a href="./feedbacks">Alle Feedbacks</a></li>
            <li><a href="./module">Module</a></li>
            <li><a href="./semester">Semester</a></li>
            <li><a href="./about">Über uns</a></li>
        </ul>
    </nav>

    <main class="content">
        <h2>Module</h2>
        <p>Hier findest du alle Informationen zu den Modulen.</p>

        <h3>Fächerübersicht</h3>

        <div class="kachel-grid">
            <a href="./mathe1" class="kachel">Mathe 1</a>
            <a href="./informatik1" class="kachel">Informatik 1</a>
            <a href="./media_game_design1" class="kachel">Media Game Design 1</a>
            <a href="./programmieren1" class="kachel">Programmieren 1</a>
            <a href="./medienrecht" class="kachel">Medienrecht</a>
            <a href="./dramaturgie1" class="kachel">Dramaturgie 1</a>
        </div>

    </main>


</div>
<footer>
    <p>&copy; 2025 – HAW Hamburg</p>
</footer>
</body>
</html>
